@use "../src/scss/util/" as u;

@include u.breakpoint("laptop") {
  .imageSlider {
    border-radius: 0.85rem;
    cursor: pointer;

    &__image {
      height: max-content;
      overflow: clip;
    }
  }

  .thumbnail {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    margin-top: 1.5rem;

    &__image {
      border-radius: 0.85rem;
      overflow: clip;
      cursor: pointer;
      position: relative;
      border: 1px solid transparent;
      scale: 1;
      transition: scale 75ms ease-in;

      &::before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.5);
        opacity: 0;
        transition: opacity 75ms ease-in;
      }

      &:hover {
        scale: 0.95;

        &::before {
          opacity: 1;
        }
      }

      &.active {
        position: relative;
        &::before {
          position: absolute;
          content: "";
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(255, 255, 255, 0.7);
          border: 2px solid u.$orange;
          opacity: 1;
          border-radius: 0.85rem;
        }
      }
    }
  }
}
